// Hacemos el nesting, utilizamos el selector "&" dentro del codigo y utilizamos un extend

@import "../variables/variables";

header{
    background-color: blueviolet;
    height: 100px;
    nav{
        text-align: center;
        .ancla{
            padding: 3px;
            background-color: $fondo-ancla;
            text-decoration: none;
            font-family: Georgia, 'Times New Roman', Times, serif;
            &:hover{
                color: aqua;
            }
        }
        .ancla-inicio{
            @extend .ancla;
            font-size: 30px;
        }
    }
}