// Hacemos el nesting y creamos una variable para el color

@import "../variables/variables";

main{
    margin: 50px;
    section{
        background-color: blanchedalmond;
        h1{
            font-size: xx-large;
            color: $color;
        }
        img{
            width: $tamaño;
        }
        p{
            text-align: justify;
            color: $color;
        }
    }

}