// Hacemos el nesting e importamos las variables

@import "../variables/variables";

main{
    margin: 50px;
    section{
        background-color: blanchedalmond;
        h1{
            font-size: xx-large;
            color: map-get($estilos, color);
        }
        .tamaño-iframe{
            margin: 20px;
            @include sizes(1200px, 500px);
        }
    }

}