// Hacemos el nesting e importamos las variables

@import "../variables/variables";

main{
    margin: 50px;
    section{
        background-color: blanchedalmond;
        h1{
            font-size: xx-large;
            color: $color;
        }
        
    }

}